body {
	text-align: center;
	background: url("http://www.imgion.com/images/01/Shine-Pink-Rose-.jpg");
	background-size: cover;
	color: #fff;
	font-family: 'Lusitana', serif;
}

hr {
	width: 200px;
}

#slogan {
	font-style: italic;
}

p {
	font-size: 22px;
}

img {
	width: 100px;
}

